# Dependencies
node_modules

# Next.js build output
.next

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Local env files
.env*.local

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Referencias y docs (solo excluir archivos innecesarios)
referencias/*.md
*.md
*.sql
